easydict==1.12
ipython==8.12.3
jax==0.4.26
matplotlib==3.8.3
numpy==2.0.1
plotting_utils==0.1.2
POT==0.9.3
pyro_ppl==1.9.0
pytorch_warmup==0.1.1
scipy==1.14.0
seaborn==0.13.2
setuptools==57.4.0
torch==2.2.2+cu121
torch-mimicry @ git+https://github.com/kwotsin/mimicry.git@a7fda06c4aff1e6af8dc4c4a35ed6636e434c766
tqdm==4.66.2